# Cross Validation for IDW Interpolation 
## Task 2A (continuous)

This document includes Python codes that conduct cross validation (CV) for Inverse Distance Weighting (IDW) Interpolation on water quality parameters, including 4 water quality parameters in arcpy environment:
- Dissolved oxygen (DO_mgl)
- Salinity (Sal_ppt)
- Turbidity (Turb_ntu)
- Temperature (T_c)

The analysis is conducted in the separate water bodies:
- Guana Tolomato Matanzas (GTM)
- Estero Bay (EB)
- Charlotte Harbor (CH)
- Biscayne Bay (BB)
- Big Bend Seagrasses (BBS)

**Tasks:**  

- Task 2A Calculate the RMSE and Mean Error (ME) for IDW results using both continuous and discrete data

- **Task 2B Calculate the RMSE and Mean Error (ME) for IDW results using continuous data.**


**Monthly: The SEACAR team would like the USF team to define their months as six 30-day
increments prior to the storm day, and then six 30-day increments following the storm day.** 

**Weekly: The SEACAR team would like the USF team to define their weeks as 26 7-day
increments prior to the storm day, and then 26 7-day increments following the storm day** 

**Contents:**
* [1. Data Preprocess](#reg_preprocessing)
    * [1.1 Subsetting Dataset](#reg_subset)
    * [1.2 Preview Dataset](#reg_preview)
    * [1.3 Fill Unique ID](#reg_id)
* [2. Create Shapefile](#reg_create_shp)
* [3. Cross Validation for IDW](#reg_cv_idw)
* [4. Monthly Results](#month)

In [1]:
import pandas as pd
import numpy as np
import arcpy
from arcpy.sa import *
import os
import math
import warnings

import importlib
import sys
# path = r'F:\SEACAR_WQ_2024\git\misc'
path = r'E:\Projects\SEACAR_WQ_2024\git\misc'

sys.path.insert(0, path)
# import idw_rk
import idw_rk_x
# importlib.reload(idw_rk)
importlib.reload(idw_rk_x)

import pyproj

# define scratch folder to avoid overwritting from parallel threats

arcpy.env.scratchWorkspace = r"E:\Projects\SEACAR_WQ_2024\scratch/IDW_week"

warnings.filterwarnings('ignore')

## 1. Data Preprocessing <a class="anchor" id="reg_preprocessing"></a>
### 1.1 Load csv files

In [2]:
gis_path = r'E:\Projects\SEACAR_WQ_2024/GIS_Data/'
# gis_path = r'E:\Projects\SEACAR_WQ_2024/GIS_Data/'
dfCon = pd.read_csv(gis_path + 'OEAT_Continuous_WQ-2024-Feb-21.csv', low_memory=False)

### Define output folder. Here is the folder setting for week.

In [3]:
# shpCon_folder = gis_path + r"shapefiles_Con/week"
# idwCon_folder = gis_path + r"idw_Con/week"

shpCon_folder = gis_path + r"shapefiles/idw_week"
idwCon_folder = gis_path + r"raster_output/idw_week"

### 1.2 Subsetting Data <a class="anchor" id="reg_subset"></a>

#### Include the time period from 9 am to 17 pm in a day

In [4]:
dfCon['SampleDate'] = pd.to_datetime(dfCon['SampleDate'], format='%Y-%m-%d %H:%M:%S.%f')

# Include date from 8:00 am to 18:00 pm
start_time = '08:00'
end_time = '18:00'

dfConTime = dfCon[dfCon['SampleDate'].dt.time.between(pd.to_datetime(start_time).time(), pd.to_datetime(end_time).time())]
dfConTime["SampleDate"] = pd.to_datetime(dfConTime['SampleDate'])
dfConTime.head()

,RowID,ProgramID,ParameterName,ParameterUnits,ProgramLocationID,ActivityType,SampleDate,Year,Month,RelativeDepth,ResultValue,Latitude_DD,Longitude_DD,ManagedAreaName,AreaID,SEACAR_QAQCFlagCode,WaterBody,WbodyAcronym,Season
0,1,512,Water Temperature,Degrees C,CHWW1,NaN,2021-11-25 11:45:00,2021,11,bottom,19.2,26.8325,-82.14805,Cape Haze Aquatic Preserve,9,6Q,Charlotte Harbor,CH,Fall
1,2,512,Water Temperature,Degrees C,CHWW1,NaN,2021-11-13 16:15:00,2021,11,bottom,22.3,26.8325,-82.14805,Cape Haze Aquatic Preserve,9,6Q,Charlotte Harbor,CH,Fall
2,3,512,Water Temperature,Degrees C,CHWW1,NaN,2021-10-26 14:15:00,2021,10,bottom,28.3,26.8325,-82.14805,Cape Haze Aquatic Preserve,9,6Q,Charlotte Harbor,CH,Fall
3,4,512,Water Temperature,Degrees C,CHWW1,NaN,2022-09-16 12:45:00,2022,9,bottom,29.7,26.8325,-82.14805,Cape Haze Aquatic Preserve,9,6Q,Charlotte Harbor,CH,Fall
4,5,512,Water Temperature,Degrees C,CHWW1,NaN,2022-09-20 10:30:00,2022,9,bottom,29.3,26.8325,-82.14805,Cape Haze Aquatic Preserve,9,6Q,Charlotte Harbor,CH,Fall

### 1.3 Select the data based on the 52 weeks excel file.

In [5]:
area_ab = ["GTM","EB","CH","BB","BBS"]
period_type = [" 52 week"," Month"]
dfConTime["Period"] = ""
def select_data_period(df,area,period):
    sheet_name = str(area) + str(period)
    df_period_table = pd.read_excel(gis_path + "All_Waterbodies_Season_Month_Week_Definitions.xlsx",sheet_name=sheet_name)
    df_select_area = df[df["WbodyAcronym"]==str(area)]
    df_period_table['Start Date'] = pd.to_datetime(df_period_table['Start Date'])
    df_period_table['End Date']   = pd.to_datetime(df_period_table['End Date'])
    sub_dfs = []

    for index, row in df_period_table.iterrows():
        start_date = row['Start Date']
        end_date   = row['End Date']
        sub_df = df_select_area[(df_select_area['SampleDate'] >= start_date) & (df_select_area['SampleDate'] < end_date)]
        sub_df['Period'] = row["Week"]
        sub_dfs.append(sub_df)
        
    df_period = pd.concat(sub_dfs,ignore_index=True)
    return df_period

### 1.4 Generate the aggregated mean value for weekly data.

In [6]:
sel_week_temp = []
for each in area_ab:
    df_week_temp = select_data_period(dfConTime,str(each)," 52 week")
    df_week_temp_group = df_week_temp.groupby(['WaterBody','ParameterName','ParameterUnits',
                                          'Year','Season','Latitude_DD','Longitude_DD','WbodyAcronym',"Period"])["ResultValue"].agg("mean").reset_index()
    sel_week_temp.append(df_week_temp_group)
df_week_select_Mean = pd.concat(sel_week_temp,ignore_index=True)

In [7]:
df_week_select_Mean.head(50)

,WaterBody,ParameterName,ParameterUnits,Year,Season,Latitude_DD,Longitude_DD,WbodyAcronym,Period,ResultValue
0,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,23,5.536585
1,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,24,5.028920
2,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,25,4.721951
3,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,26,5.433798
4,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,27,3.042509
5,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,28,3.554704
6,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,29,4.092683
7,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,30,4.660667
8,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,32,5.649735
9,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,33,6.990244
10,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,34,6.492334
11,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,35,7.352033
12,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,23,5.771951
13,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,24,5.579443
14,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,25,5.524390
15,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,26,5.729965
16,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,27,6.048432
17,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,28,6.281185
18,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,29,6.565505
19,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,30,6.458885
20,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,31,6.726481
21,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,32,6.778049
22,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,33,7.229965
23,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,34,7.003136
24,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,35,7.287805
25,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,23,5.510976
26,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,24,5.709756
27,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,25,5.117422
28,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,26,6.013240
29,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,27,5.914634
30,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,28,6.104878
31,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,29,6.035540
32,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,30,6.246853
33,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,31,6.624042
34,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,32,6.814634
35,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,33,7.081882
36,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,34,6.954355
37,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,35,7.491870
38,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,23,4.654878
39,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,24,4.521603
40,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,25,4.376655
41,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,26,5.585714
42,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,27,5.267944
43,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,28,4.780139
44,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,29,5.096864
45,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,30,5.361672
46,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,31,5.923345
47,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,32,6.316376
48,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,33,6.670035
49,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,34,6.795122

### 1.5 Convert coordinate system to EPSG: 3086<a class="anchor" id="reg_coordinate"></a>

In [8]:
# Define the EPSG codes for source (EPSG:4326) and target (EPSG:3086) coordinate systems
source_epsg = 'EPSG:4326'
target_epsg = 'EPSG:3086'

# Create a PyProj Transformer for the conversion
transformer = pyproj.Transformer.from_crs(source_epsg, target_epsg, always_xy=True)

# Define a function to apply the transformation to each row of the DataFrame
def transform_coordinates(row):
    x, y = transformer.transform(row['Longitude_DD'], row['Latitude_DD'])
    return pd.Series({'x': x, 'y': y})

# Apply the transformation function to the DataFrame and create new columns for the converted coordinates
df_week_select_Mean[['x', 'y']] = df_week_select_Mean.apply(transform_coordinates, axis=1)

## 2. Prepare for batch interpolation<a class="anchor" id="reg_batch"></a>

In [9]:
area_shortnames = {
    'Guana Tolomato Matanzas': 'GTM',
    'Estero Bay': 'EB',
    'Charlotte Harbor': 'CH',
    'Biscayne Bay': 'BB',
    'Big Bend Seagrasses':'BBS'
}

param_shortnames = {
    'Salinity': 'Sal_ppt',
    'Total Nitrogen': 'TN_mgl',
    'Dissolved Oxygen': 'DO_mgl',
    'Turbidity':'Turb_ntu',
    'Secchi Depth':'Secc_m',
    'Water Temperature':'T_c'
}

### 2.2 Define the barrier files

In [10]:
barrier_folder = os.path.join(gis_path, 'Barriers')
barrier_folder

barriers = []
for file in os.listdir(barrier_folder):
    if file.endswith(".shp"):
        barriers.append(os.path.join(barrier_folder, file))

for barrier in barriers:
    print(barrier)

E:\Projects\SEACAR_WQ_2024/GIS_Data/Barriers\BBS_Barriers.shp
E:\Projects\SEACAR_WQ_2024/GIS_Data/Barriers\BB_Barriers.shp
E:\Projects\SEACAR_WQ_2024/GIS_Data/Barriers\CH_Barriers.shp
E:\Projects\SEACAR_WQ_2024/GIS_Data/Barriers\EB_Barriers.shp
E:\Projects\SEACAR_WQ_2024/GIS_Data/Barriers\GTM_Barriers.shp

### 2.3 Define waterbody boundary for spatial extent and masking

In [11]:
waterbody_extent = os.path.join(gis_path, 'OEAT_Waterbody_Boundaries', 'OEAT_Waterbody_Boundary.shp')

unique_waterbodies = []
with arcpy.da.SearchCursor(waterbody_extent, ['WaterbodyA']) as cursor:
    for row in cursor:
        unique_waterbodies.append(row[0])

print("Unique Waterbodies:", unique_waterbodies)

Unique Waterbodies: ['BBS', 'BB', 'CH', 'EB', 'GTM']

### 2.4 Define and generate weekly table.

In [12]:
waterBody = ['Big Bend Seagrasses', 'Biscayne Bay', 'Charlotte Harbor', 'Estero Bay', 'Guana Tolomato Matanzas']
parameter = ['Dissolved Oxygen', 'Salinity', 'Turbidity', 'Water Temperature']
waterBody_list = []
parameter_list= []
week_list = []
for i in waterBody:
    for j in parameter:
        for k in range(1,53):
            waterBody_list.append(i)
            parameter_list.append(j)
            week_list.append(k)

In [13]:
df_week_table = pd.DataFrame({
    "WaterBody":waterBody_list,
    "Parameter":parameter_list,
    "Period":week_list
})
df_week_table["Filename"] = ""
df_week_table["NumDataPoints"] = ""
df_week_table["RMSE"] = ""
df_week_table["ME"] = ""
df_week_table["WbodyAcronym"] = df_week_table["WaterBody"].map(area_shortnames)

In [14]:
name_ab = df_week_table["WbodyAcronym"].unique()
para_list = df_week_table["Parameter"].unique()
dfs_sub = []
for each in name_ab:
    sheet_name_use = str(each) + " 52 week"
    df_period_table_used = pd.read_excel(gis_path + "All_Waterbodies_Season_Month_Week_Definitions.xlsx",sheet_name=sheet_name_use)
    startDate = list(df_period_table_used["Start Date"])
    endDate   = list(df_period_table_used["End Date"])
    for para in para_list:
        df_temp_use = df_week_table[(df_week_table["WbodyAcronym"]==str(each))&(df_week_table["Parameter"]==str(para))]
        df_temp_use["startDate"] = startDate
        df_temp_use["endDate"]   = endDate
        dfs_sub.append(df_temp_use)
df_week_table = pd.concat(dfs_sub)
df_week_table["Year"] = df_week_table["startDate"].dt.year
df_week_table.to_csv(gis_path + 'week_table.csv')

# 1.2 Preview Dataset <a class="anchor" id="reg_preview"></a>

In [15]:
df_week_select_Mean.head(50)

,WaterBody,ParameterName,ParameterUnits,Year,Season,Latitude_DD,Longitude_DD,WbodyAcronym,Period,ResultValue,x,y
0,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,23,5.536585,665054.340859,631868.366218
1,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,24,5.028920,665054.340859,631868.366218
2,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,25,4.721951,665054.340859,631868.366218
3,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,26,5.433798,665054.340859,631868.366218
4,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,27,3.042509,665054.340859,631868.366218
5,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,28,3.554704,665054.340859,631868.366218
6,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,29,4.092683,665054.340859,631868.366218
7,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,30,4.660667,665054.340859,631868.366218
8,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,32,5.649735,665054.340859,631868.366218
9,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,33,6.990244,665054.340859,631868.366218
10,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,34,6.492334,665054.340859,631868.366218
11,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,35,7.352033,665054.340859,631868.366218
12,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,23,5.771951,665987.248566,639659.363097
13,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,24,5.579443,665987.248566,639659.363097
14,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,25,5.524390,665987.248566,639659.363097
15,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,26,5.729965,665987.248566,639659.363097
16,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,27,6.048432,665987.248566,639659.363097
17,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,28,6.281185,665987.248566,639659.363097
18,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,29,6.565505,665987.248566,639659.363097
19,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,30,6.458885,665987.248566,639659.363097
20,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,31,6.726481,665987.248566,639659.363097
21,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,32,6.778049,665987.248566,639659.363097
22,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,33,7.229965,665987.248566,639659.363097
23,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,34,7.003136,665987.248566,639659.363097
24,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,35,7.287805,665987.248566,639659.363097
25,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,23,5.510976,659731.434296,654158.019057
26,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,24,5.709756,659731.434296,654158.019057
27,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,25,5.117422,659731.434296,654158.019057
28,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,26,6.013240,659731.434296,654158.019057
29,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,27,5.914634,659731.434296,654158.019057
30,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,28,6.104878,659731.434296,654158.019057
31,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,29,6.035540,659731.434296,654158.019057
32,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,30,6.246853,659731.434296,654158.019057
33,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,31,6.624042,659731.434296,654158.019057
34,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,32,6.814634,659731.434296,654158.019057
35,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,33,7.081882,659731.434296,654158.019057
36,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,34,6.954355,659731.434296,654158.019057
37,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.868851,-81.307428,GTM,35,7.491870,659731.434296,654158.019057
38,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,23,4.654878,653509.737698,674232.732990
39,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,24,4.521603,653509.737698,674232.732990
40,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,25,4.376655,653509.737698,674232.732990
41,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,26,5.585714,653509.737698,674232.732990
42,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,27,5.267944,653509.737698,674232.732990
43,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,28,4.780139,653509.737698,674232.732990
44,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,29,5.096864,653509.737698,674232.732990
45,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,30,5.361672,653509.737698,674232.732990
46,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,31,5.923345,653509.737698,674232.732990
47,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,32,6.316376,653509.737698,674232.732990
48,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,33,6.670035,653509.737698,674232.732990
49,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,30.050857,-81.367465,GTM,34,6.795122,653509.737698,674232.732990

## 1.3 Fill NaN RowID with unique ID, IDW function needs unique ID <a class="anchor" id="reg_id"></a>

In [16]:
idw_rk_x.fill_nan_rowids(df_week_select_Mean, 'RowID')

df_week_select_Mean['RowID'] = df_week_select_Mean['RowID'].astype(int)
df_week_select_Mean

,WaterBody,ParameterName,ParameterUnits,Year,Season,Latitude_DD,Longitude_DD,WbodyAcronym,Period,ResultValue,x,y,RowID
0,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,23,5.536585,665054.340859,631868.366218,1
1,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,24,5.028920,665054.340859,631868.366218,2
2,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,25,4.721951,665054.340859,631868.366218,3
3,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,26,5.433798,665054.340859,631868.366218,4
4,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,27,3.042509,665054.340859,631868.366218,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3452,Big Bend Seagrasses,Water Temperature,Degrees C,2021,Winter,29.647203,-83.421196,BBS,49,20.009756,455952.242067,626846.365120,3453
3453,Big Bend Seagrasses,Water Temperature,Degrees C,2021,Winter,29.647203,-83.421196,BBS,50,20.522764,455952.242067,626846.365120,3454
3454,Big Bend Seagrasses,Water Temperature,Degrees C,2021,Winter,29.647203,-83.421196,BBS,51,16.418699,455952.242067,626846.365120,3455
3455,Big Bend Seagrasses,Water Temperature,Degrees C,2021,Winter,29.647203,-83.421196,BBS,52,21.247967,455952.242067,626846.365120,3456
3456,Big Bend Seagrasses,Water Temperature,Degrees C,2022,Winter,29.647203,-83.421196,BBS,52,21.245528,455952.242067,626846.365120,3457

# 2. Create Shapefile <a class="anchor" id="reg_create_shp"></a>

In [17]:
idw_rk_x.delete_all_files(shpCon_folder)

In [18]:
# Merge interested with latitude and longitude columns
seasons_con_coord = idw_rk_x.merge_with_lat_long1(df_week_table, df_week_select_Mean)

seasons_con_coord

,WaterBody,Parameter,Period,Filename,NumDataPoints,RMSE,ME,WbodyAcronym,Year,x,y,RowID,ResultValue
0,Big Bend Seagrasses,Dissolved Oxygen,1,,,,,BBS,2021,455952.242067,626846.365120,3286,8.334146
1,Big Bend Seagrasses,Dissolved Oxygen,2,,,,,BBS,2021,455952.242067,626846.365120,3287,8.486992
2,Big Bend Seagrasses,Dissolved Oxygen,3,,,,,BBS,2021,455952.242067,626846.365120,3288,8.124390
3,Big Bend Seagrasses,Dissolved Oxygen,4,,,,,BBS,2021,455952.242067,626846.365120,3289,7.903659
4,Big Bend Seagrasses,Dissolved Oxygen,5,,,,,BBS,2021,455952.242067,626846.365120,3290,8.734146
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3491,Guana Tolomato Matanzas,Water Temperature,51,,,,,GTM,2017,653509.737698,674232.732990,747,22.810801
3492,Guana Tolomato Matanzas,Water Temperature,52,,,,,GTM,2017,665054.340859,631868.366218,733,24.600348
3493,Guana Tolomato Matanzas,Water Temperature,52,,,,,GTM,2017,665987.248566,639659.363097,738,21.855401
3494,Guana Tolomato Matanzas,Water Temperature,52,,,,,GTM,2017,659731.434296,654158.019057,743,22.620557
3495,Guana Tolomato Matanzas,Water Temperature,52,,,,,GTM,2017,653509.737698,674232.732990,748,23.841812

In [ ]:
importlib.reload(idw_rk_x)

idw_rk_x.create_shp_season1(seasons_con_coord, shpCon_folder)

Number of data rows for BBS, DO_mgl, 1: 1
             WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
0  Big Bend Seagrasses  Dissolved Oxygen       1

  ME WbodyAcronym  Year              x             y  RowID  ResultValue
0             BBS  2021  455952.242067  626846.36512   3286     8.334146
Shapefile for BBS: DO_mgl for period 1 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_1.shp
Number of data rows for BBS, DO_mgl, 2: 1
             WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
1  Big Bend Seagrasses  Dissolved Oxygen       2

  ME WbodyAcronym  Year              x             y  RowID  ResultValue
1             BBS  2021  455952.242067  626846.36512   3287     8.486992
Shapefile for BBS: DO_mgl for period 2 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_2.shp
Number of data rows for BBS, DO_mgl, 3: 1
             WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
2  Big Bend Seagrasses  Dissolved Oxygen       3

  ME WbodyAcronym  Year              x             y  RowID  ResultValue
2             BBS  2021  455952.242067  626846.36512   3288      8.12439
Shapefile for BBS: DO_mgl for period 3 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_3.shp
Number of data rows for BBS, DO_mgl, 4: 1
             WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
3  Big Bend Seagrasses  Dissolved Oxygen       4

  ME WbodyAcronym  Year              x             y  RowID  ResultValue
3             BBS  2021  455952.242067  626846.36512   3289     7.903659
Shapefile for BBS: DO_mgl for period 4 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_4.shp
Number of data rows for BBS, DO_mgl, 5: 1
             WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
4  Big Bend Seagrasses  Dissolved Oxygen       5

  ME WbodyAcronym  Year              x             y  RowID  ResultValue
4             BBS  2021  455952.242067  626846.36512   3290     8.734146
Shapefile for BBS: DO_mgl for period 5 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_5.shp
Number of data rows for BBS, DO_mgl, 6: 1
             WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
5  Big Bend Seagrasses  Dissolved Oxygen       6

  ME WbodyAcronym  Year              x             y  RowID  ResultValue
5             BBS  2021  455952.242067  626846.36512   3291     7.838211
Shapefile for BBS: DO_mgl for period 6 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_6.shp
Number of data rows for BBS, DO_mgl, 7: 1
             WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
6  Big Bend Seagrasses  Dissolved Oxygen       7

  ME WbodyAcronym  Year              x             y  RowID  ResultValue
6             BBS  2021  455952.242067  626846.36512   3292     7.906911

KeyboardInterrupt:

Error occurred: ERROR 000582: Error occurred during execution.

Number of data rows for BBS, DO_mgl, 8: 1
             WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
7  Big Bend Seagrasses  Dissolved Oxygen       8

  ME WbodyAcronym  Year              x             y  RowID  ResultValue
7             BBS  2021  455952.242067  626846.36512   3293     7.106098
Shapefile for BBS: DO_mgl for period 8 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_8.shp
Number of data rows for BBS, DO_mgl, 9: 1
             WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
8  Big Bend Seagrasses  Dissolved Oxygen       9

  ME WbodyAcronym  Year              x             y  RowID  ResultValue
8             BBS  2021  455952.242067  626846.36512   3262     7.552033
Shapefile for BBS: DO_mgl for period 9 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_9.shp
Number of data rows for BBS, DO_mgl, 10: 1
             WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
9  Big Bend Seagrasses  Dissolved Oxygen      10

  ME WbodyAcronym  Year              x             y  RowID  ResultValue
9             BBS  2021  455952.242067  626846.36512   3263     7.651626
Shapefile for BBS: DO_mgl for period 10 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_10.shp
Number of data rows for BBS, DO_mgl, 11: 1
              WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
10  Big Bend Seagrasses  Dissolved Oxygen      11

   ME WbodyAcronym  Year              x             y  RowID  ResultValue
10             BBS  2021  455952.242067  626846.36512   3264     7.328862
Shapefile for BBS: DO_mgl for period 11 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_11.shp
Number of data rows for BBS, DO_mgl, 12: 1
              WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
11  Big Bend Seagrasses  Dissolved Oxygen      12

   ME WbodyAcronym  Year              x             y  RowID  ResultValue
11             BBS  2021  455952.242067  626846.36512   3265     7.174797
Shapefile for BBS: DO_mgl for period 12 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_12.shp
Number of data rows for BBS, DO_mgl, 13: 1
              WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
12  Big Bend Seagrasses  Dissolved Oxygen      13

   ME WbodyAcronym  Year              x             y  RowID  ResultValue
12             BBS  2021  455952.242067  626846.36512   3266     7.622764
Shapefile for BBS: DO_mgl for period 13 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_13.shp
Number of data rows for BBS, DO_mgl, 14: 1
              WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
13  Big Bend Seagrasses  Dissolved Oxygen      14

   ME WbodyAcronym  Year              x             y  RowID  ResultValue
13             BBS  2021  455952.242067  626846.36512   3267      7.12439
Shapefile for BBS: DO_mgl for period 14 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_14.shp
Number of data rows for BBS, DO_mgl, 15: 1
              WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
14  Big Bend Seagrasses  Dissolved Oxygen      15

   ME WbodyAcronym  Year              x             y  RowID  ResultValue
14             BBS  2021  455952.242067  626846.36512   3268     6.562195
Shapefile for BBS: DO_mgl for period 15 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_15.shp
Number of data rows for BBS, DO_mgl, 16: 1
              WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
15  Big Bend Seagrasses  Dissolved Oxygen      16

   ME WbodyAcronym  Year              x             y  RowID  ResultValue
15             BBS  2021  455952.242067  626846.36512   3269     7.215854
Shapefile for BBS: DO_mgl for period 16 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_16.shp
Number of data rows for BBS, DO_mgl, 17: 1
              WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
16  Big Bend Seagrasses  Dissolved Oxygen      17

   ME WbodyAcronym  Year              x             y  RowID  ResultValue
16             BBS  2021  455952.242067  626846.36512   3270     6.725203
Shapefile for BBS: DO_mgl for period 17 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_17.shp
Number of data rows for BBS, DO_mgl, 18: 1
              WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
17  Big Bend Seagrasses  Dissolved Oxygen      18

   ME WbodyAcronym  Year              x             y  RowID  ResultValue
17             BBS  2021  455952.242067  626846.36512   3271     6.644309
Shapefile for BBS: DO_mgl for period 18 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_18.shp
Number of data rows for BBS, DO_mgl, 19: 1
              WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
18  Big Bend Seagrasses  Dissolved Oxygen      19

   ME WbodyAcronym  Year              x             y  RowID  ResultValue
18             BBS  2021  455952.242067  626846.36512   3272     7.134553
Shapefile for BBS: DO_mgl for period 19 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_19.shp
Number of data rows for BBS, DO_mgl, 20: 1
              WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
19  Big Bend Seagrasses  Dissolved Oxygen      20

   ME WbodyAcronym  Year              x             y  RowID  ResultValue
19             BBS  2021  455952.242067  626846.36512   3273      7.07439
Shapefile for BBS: DO_mgl for period 20 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_20.shp
Number of data rows for BBS, DO_mgl, 21: 1
              WaterBody         Parameter  Period Filename NumDataPoints RMSE  \
20  Big Bend Seagrasses  Dissolved Oxygen      21

   ME WbodyAcronym  Year              x             y  RowID  ResultValue
20             BBS  2021  455952.242067  626846.36512   3274     6.383333

# 3. Cross Validation for IDW <a class="anchor" id="reg_cv_idw"></a>

In [ ]:
# Empty the shapefile folder
idw_rk_x.delete_all_files(idwCon_folder)

In [ ]:
df_week_table

In [ ]:
# If the number of data points is less than 3skipping calculate IDW
idw_rk_x.idw_interpolation1(df_week_table, shpCon_folder, idwCon_folder, waterbody_extent, barrier_folder)

# 4. Monthly Results <a class="anchor" id="month"></a>

### Set the folder path for weekly result

In [29]:
shpCon_folder = gis_path + r"shapefiles/idw_month"
idwCon_folder = gis_path + r"raster_output/idw_month"

# shpCon_folder = gis_path + r"shapefiles_Con/month"
# idwCon_folder = gis_path + r"idw_Con/month"

In [30]:
area_ab = ["GTM","EB","CH","BB","BBS"]
period_type = [" 52 week"," Month"]
dfConTime["Period"] = ""
def select_data_period1(df,area,period):
    sheet_name = str(area) + str(period)
    df_period_table = pd.read_excel(gis_path + "All_Waterbodies_Season_Month_Week_Definitions.xlsx",sheet_name=sheet_name)
    df_select_area = df[df["WbodyAcronym"]==str(area)]
    df_period_table['Start Date'] = pd.to_datetime(df_period_table['Start Date'])
    df_period_table['End Date']   = pd.to_datetime(df_period_table['End Date'])
    sub_dfs = []

    for index, row in df_period_table.iterrows():
        start_date = row['Start Date']
        end_date   = row['End Date']
        sub_df = df_select_area[(df_select_area['SampleDate'] >= start_date) & (df_select_area['SampleDate'] < end_date)]
        sub_df['Period'] = row["Month"]
        sub_dfs.append(sub_df)
        
    df_period = pd.concat(sub_dfs,ignore_index=True)
    return df_period

In [31]:
sel_month_temp = []
for each in area_ab:
    df_month_temp = select_data_period1(dfConTime,str(each)," Month")
    df_month_temp_group = df_month_temp.groupby(['WaterBody','ParameterName','ParameterUnits',
                                          'Year','Season','Latitude_DD','Longitude_DD','WbodyAcronym',"Period"])["ResultValue"].agg("mean").reset_index()
    sel_month_temp.append(df_month_temp_group)
df_month_select_Mean = pd.concat(sel_month_temp,ignore_index=True)

In [32]:
# Define the EPSG codes for source (EPSG:4326) and target (EPSG:3086) coordinate systems
source_epsg = 'EPSG:4326'
target_epsg = 'EPSG:3086'

# Create a PyProj Transformer for the conversion
transformer = pyproj.Transformer.from_crs(source_epsg, target_epsg, always_xy=True)

# Define a function to apply the transformation to each row of the DataFrame
def transform_coordinates(row):
    x, y = transformer.transform(row['Longitude_DD'], row['Latitude_DD'])
    return pd.Series({'x': x, 'y': y})

# Apply the transformation function to the DataFrame and create new columns for the converted coordinates
df_month_select_Mean[['x', 'y']] = df_month_select_Mean.apply(transform_coordinates, axis=1)

In [33]:
df_month_select_Mean

,WaterBody,ParameterName,ParameterUnits,Year,Season,Latitude_DD,Longitude_DD,WbodyAcronym,Period,ResultValue,x,y
0,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,6,5.142161,665054.340859,631868.366218
1,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,7,3.728834,665054.340859,631868.366218
2,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,8,6.632493,665054.340859,631868.366218
3,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,6,5.606851,665987.248566,639659.363097
4,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,7,6.354141,665987.248566,639659.363097
...,...,...,...,...,...,...,...,...,...,...,...,...
1057,Big Bend Seagrasses,Water Temperature,Degrees C,2021,Summer,29.647203,-83.421196,BBS,9,29.325253,455952.242067,626846.365120
1058,Big Bend Seagrasses,Water Temperature,Degrees C,2021,Winter,29.647203,-83.421196,BBS,1,13.373354,455952.242067,626846.365120
1059,Big Bend Seagrasses,Water Temperature,Degrees C,2021,Winter,29.647203,-83.421196,BBS,2,17.077020,455952.242067,626846.365120
1060,Big Bend Seagrasses,Water Temperature,Degrees C,2021,Winter,29.647203,-83.421196,BBS,12,19.022835,455952.242067,626846.365120
1061,Big Bend Seagrasses,Water Temperature,Degrees C,2022,Winter,29.647203,-83.421196,BBS,12,21.878788,455952.242067,626846.365120

In [34]:
waterBody = ['Big Bend Seagrasses', 'Biscayne Bay', 'Charlotte Harbor', 'Estero Bay', 'Guana Tolomato Matanzas']
parameter = ['Dissolved Oxygen', 'Salinity', 'Turbidity', 'Water Temperature']
waterBody_list = []
parameter_list= []
month_list = []
for i in waterBody:
    for j in parameter:
        for k in range(1,13):
            waterBody_list.append(i)
            parameter_list.append(j)
            month_list.append(k)

In [35]:
df_month_table = pd.DataFrame({
    "WaterBody":waterBody_list,
    "Parameter":parameter_list,
    "Period":month_list
})
df_month_table["Filename"] = ""
df_month_table["NumDataPoints"] = ""
df_month_table["RMSE"] = ""
df_month_table["ME"] = ""
df_month_table["WbodyAcronym"] = df_month_table["WaterBody"].map(area_shortnames)

In [36]:
name_ab = df_month_table["WbodyAcronym"].unique()
para_list = df_month_table["Parameter"].unique()
dfs_sub = []
for each in name_ab:
    sheet_name_use = str(each) + " Month"
    df_period_table_used = pd.read_excel(gis_path + "All_Waterbodies_Season_Month_Week_Definitions.xlsx",sheet_name=sheet_name_use)
    startDate = list(df_period_table_used["Start Date"])
    endDate   = list(df_period_table_used["End Date"])
    for para in para_list:
        df_temp_use = df_month_table[(df_month_table["WbodyAcronym"]==str(each))&(df_month_table["Parameter"]==str(para))]
        df_temp_use["startDate"] = startDate
        df_temp_use["endDate"]   = endDate
        dfs_sub.append(df_temp_use)
df_month_table = pd.concat(dfs_sub)
df_month_table["Year"] = df_month_table["startDate"].dt.year
df_month_table.to_csv(gis_path + 'month_table.csv')

In [37]:
idw_rk_x.fill_nan_rowids(df_month_select_Mean, 'RowID')

df_month_select_Mean['RowID'] = df_month_select_Mean['RowID'].astype(int)
df_month_select_Mean

,WaterBody,ParameterName,ParameterUnits,Year,Season,Latitude_DD,Longitude_DD,WbodyAcronym,Period,ResultValue,x,y,RowID
0,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,6,5.142161,665054.340859,631868.366218,1
1,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,7,3.728834,665054.340859,631868.366218,2
2,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.667071,-81.257403,GTM,8,6.632493,665054.340859,631868.366218,3
3,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,6,5.606851,665987.248566,639659.363097,4
4,Guana Tolomato Matanzas,Dissolved Oxygen,mg/L,2016,Fall,29.737041,-81.245953,GTM,7,6.354141,665987.248566,639659.363097,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,Big Bend Seagrasses,Water Temperature,Degrees C,2021,Summer,29.647203,-83.421196,BBS,9,29.325253,455952.242067,626846.365120,1058
1058,Big Bend Seagrasses,Water Temperature,Degrees C,2021,Winter,29.647203,-83.421196,BBS,1,13.373354,455952.242067,626846.365120,1059
1059,Big Bend Seagrasses,Water Temperature,Degrees C,2021,Winter,29.647203,-83.421196,BBS,2,17.077020,455952.242067,626846.365120,1060
1060,Big Bend Seagrasses,Water Temperature,Degrees C,2021,Winter,29.647203,-83.421196,BBS,12,19.022835,455952.242067,626846.365120,1061
1061,Big Bend Seagrasses,Water Temperature,Degrees C,2022,Winter,29.647203,-83.421196,BBS,12,21.878788,455952.242067,626846.365120,1062

In [41]:
idw_rk_x.delete_all_files(shpCon_folder)

In [42]:
# Merge interested with latitude and longitude columns
seasons_con_coord = idw_rk_x.merge_with_lat_long1(df_month_table, df_month_select_Mean)
seasons_con_coord

,WaterBody,Parameter,Period,Filename,NumDataPoints,RMSE,ME,WbodyAcronym,startDate,endDate,Year,x,y,RowID,ResultValue
0,Big Bend Seagrasses,Dissolved Oxygen,1,,,,,BBS,2021-01-08,2021-02-06,2021,455952.242067,626846.365120,1012,8.356844
1,Big Bend Seagrasses,Dissolved Oxygen,2,,,,,BBS,2021-02-07,2021-03-08,2021,455952.242067,626846.365120,1004,7.433333
2,Big Bend Seagrasses,Dissolved Oxygen,2,,,,,BBS,2021-02-07,2021-03-08,2021,455952.242067,626846.365120,1013,7.730177
3,Big Bend Seagrasses,Dissolved Oxygen,3,,,,,BBS,2021-03-09,2021-04-07,2021,455952.242067,626846.365120,1005,7.490700
4,Big Bend Seagrasses,Dissolved Oxygen,4,,,,,BBS,2021-04-08,2021-05-07,2021,455952.242067,626846.365120,1006,6.859352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061,Guana Tolomato Matanzas,Water Temperature,11,,,,,GTM,2017-02-05,2017-03-07,2017,653509.737698,674232.732990,234,18.666667
1062,Guana Tolomato Matanzas,Water Temperature,12,,,,,GTM,2017-03-07,2017-04-06,2017,665054.340859,631868.366218,229,21.517071
1063,Guana Tolomato Matanzas,Water Temperature,12,,,,,GTM,2017-03-07,2017-04-06,2017,665987.248566,639659.363097,231,20.061616
1064,Guana Tolomato Matanzas,Water Temperature,12,,,,,GTM,2017-03-07,2017-04-06,2017,659731.434296,654158.019057,233,20.107685
1065,Guana Tolomato Matanzas,Water Temperature,12,,,,,GTM,2017-03-07,2017-04-06,2017,653509.737698,674232.732990,235,20.587475

In [43]:
idw_rk_x.create_shp_season1(seasons_con_coord, shpCon_folder)

Number of data rows for BBS, DO_mgl, 1: 1
Shapefile for BBS: DO_mgl for period 1 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_1.shp
Number of data rows for BBS, DO_mgl, 2: 2
Shapefile for BBS: DO_mgl for period 2 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_2.shp
Number of data rows for BBS, DO_mgl, 3: 1
Shapefile for BBS: DO_mgl for period 3 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_3.shp
Number of data rows for BBS, DO_mgl, 4: 1
Shapefile for BBS: DO_mgl for period 4 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_4.shp
Number of data rows for BBS, DO_mgl, 5: 1
Shapefile for BBS: DO_mgl for period 5 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_5.shp
Number of data rows for BBS, DO_mgl, 6: 1
Shapefile for BBS: DO_mgl for period 6 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_6.shp
Number of data rows for BBS, DO_mgl, 7: 1
Shapefile for BBS: DO_mgl for period 7 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_7.shp
Number of data rows for BBS, DO_mgl, 8: 1
Shapefile for BBS: DO_mgl for period 8 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_8.shp
Number of data rows for BBS, DO_mgl, 9: 2
Shapefile for BBS: DO_mgl for period 9 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_9.shp
Number of data rows for BBS, DO_mgl, 10: 1
Shapefile for BBS: DO_mgl for period 10 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_10.shp
Number of data rows for BBS, DO_mgl, 11: 1
Shapefile for BBS: DO_mgl for period 11 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_11.shp
Number of data rows for BBS, DO_mgl, 12: 2
Shapefile for BBS: DO_mgl for period 12 of year 2021 has been saved as SHP_BBS_DO_mgl_2021_12.shp
Number of data rows for BBS, Sal_ppt, 1: 1
Shapefile for BBS: Sal_ppt for period 1 of year 2021 has been saved as SHP_BBS_Sal_ppt_2021_1.shp
Number of data rows for BBS, Sal_ppt, 2: 2
Shapefile for BBS: Sal_ppt for period 2 of year 2021 has been saved as SHP_BBS_Sal_ppt_2021_2.shp
Number of data rows for BBS, Sal_ppt, 3: 1
Shapefile for BBS: Sal_ppt for period 3 of year 2021 has been saved as SHP_BBS_Sal_ppt_2021_3.shp
Number of data rows for BBS, Sal_ppt, 4: 1
Shapefile for BBS: Sal_ppt for period 4 of year 2021 has been saved as SHP_BBS_Sal_ppt_2021_4.shp
Number of data rows for BBS, Sal_ppt, 5: 1
Shapefile for BBS: Sal_ppt for period 5 of year 2021 has been saved as SHP_BBS_Sal_ppt_2021_5.shp
Number of data rows for BBS, Sal_ppt, 6: 1
Shapefile for BBS: Sal_ppt for period 6 of year 2021 has been saved as SHP_BBS_Sal_ppt_2021_6.shp
Number of data rows for BBS, Sal_ppt, 7: 1
Shapefile for BBS: Sal_ppt for period 7 of year 2021 has been saved as SHP_BBS_Sal_ppt_2021_7.shp
Number of data rows for BBS, Sal_ppt, 8: 1
Shapefile for BBS: Sal_ppt for period 8 of year 2021 has been saved as SHP_BBS_Sal_ppt_2021_8.shp
Number of data rows for BBS, Sal_ppt, 9: 2
Shapefile for BBS: Sal_ppt for period 9 of year 2021 has been saved as SHP_BBS_Sal_ppt_2021_9.shp
Number of data rows for BBS, Sal_ppt, 10: 1
Shapefile for BBS: Sal_ppt for period 10 of year 2021 has been saved as SHP_BBS_Sal_ppt_2021_10.shp
Number of data rows for BBS, Sal_ppt, 11: 1
Shapefile for BBS: Sal_ppt for period 11 of year 2021 has been saved as SHP_BBS_Sal_ppt_2021_11.shp
Number of data rows for BBS, Sal_ppt, 12: 2
Shapefile for BBS: Sal_ppt for period 12 of year 2021 has been saved as SHP_BBS_Sal_ppt_2021_12.shp
Number of data rows for BBS, Turb_ntu, 1: 1
Shapefile for BBS: Turb_ntu for period 1 of year 2021 has been saved as SHP_BBS_Turb_ntu_2021_1.shp
Number of data rows for BBS, Turb_ntu, 2: 2
Shapefile for BBS: Turb_ntu for period 2 of year 2021 has been saved as SHP_BBS_Turb_ntu_2021_2.shp
Number of data rows for BBS, Turb_ntu, 3: 1
Shapefile for BBS: Turb_ntu for period 3 of year 2021 has been saved as SHP_BBS_Turb_ntu_2021_3.shp
Number of data rows for BBS, Turb_ntu, 4: 1
Shapefile for BBS: Turb_ntu for period 4 of year 2021 has been saved as SHP_BBS_Turb_ntu_2021_4.shp
Number of data rows for BBS, Turb_ntu, 5: 1
Shapefile for BBS: Turb_ntu for period 5 of year 2021 has been saved as SHP_BBS_Turb_ntu_2021_5.shp
Number of data rows for BBS, Turb_ntu, 6: 2
Shapefile for BBS: Turb_ntu for period 6 of year 2021 has been saved as SHP_BBS_Turb_ntu_2021_6.shp
Number of data rows for BBS, Turb_ntu, 7: 1
Shapefile for BBS: Turb_ntu for period 7 of year 2021 has been saved as SHP_BBS_Turb_ntu_2021_7.shp
Number of data rows for BBS, Turb_ntu, 8: 1
Shapefile for BBS: Turb_ntu for period 8 of year 2021 has been saved as SHP_BBS_Turb_ntu_2021_8.shp
Number of data rows for BBS, Turb_ntu, 9: 2
Shapefile for BBS: Turb_ntu for period 9 of year 2021 has been saved as SHP_BBS_Turb_ntu_2021_9.shp
Number of data rows for BBS, Turb_ntu, 10: 1
Shapefile for BBS: Turb_ntu for period 10 of year 2021 has been saved as SHP_BBS_Turb_ntu_2021_10.shp
Number of data rows for BBS, Turb_ntu, 11: 1
Shapefile for BBS: Turb_ntu for period 11 of year 2021 has been saved as SHP_BBS_Turb_ntu_2021_11.shp
Number of data rows for BBS, Turb_ntu, 12: 2
Shapefile for BBS: Turb_ntu for period 12 of year 2021 has been saved as SHP_BBS_Turb_ntu_2021_12.shp
Number of data rows for BBS, T_c, 1: 1
Shapefile for BBS: T_c for period 1 of year 2021 has been saved as SHP_BBS_T_c_2021_1.shp
Number of data rows for BBS, T_c, 2: 2
Shapefile for BBS: T_c for period 2 of year 2021 has been saved as SHP_BBS_T_c_2021_2.shp
Number of data rows for BBS, T_c, 3: 1
Shapefile for BBS: T_c for period 3 of year 2021 has been saved as SHP_BBS_T_c_2021_3.shp
Number of data rows for BBS, T_c, 4: 1
Shapefile for BBS: T_c for period 4 of year 2021 has been saved as SHP_BBS_T_c_2021_4.shp
Number of data rows for BBS, T_c, 5: 1
Shapefile for BBS: T_c for period 5 of year 2021 has been saved as SHP_BBS_T_c_2021_5.shp
Number of data rows for BBS, T_c, 6: 2
Shapefile for BBS: T_c for period 6 of year 2021 has been saved as SHP_BBS_T_c_2021_6.shp
Number of data rows for BBS, T_c, 7: 1
Shapefile for BBS: T_c for period 7 of year 2021 has been saved as SHP_BBS_T_c_2021_7.shp
Number of data rows for BBS, T_c, 8: 1
Shapefile for BBS: T_c for period 8 of year 2021 has been saved as SHP_BBS_T_c_2021_8.shp
Number of data rows for BBS, T_c, 9: 2
Shapefile for BBS: T_c for period 9 of year 2021 has been saved as SHP_BBS_T_c_2021_9.shp
Number of data rows for BBS, T_c, 10: 1
Shapefile for BBS: T_c for period 10 of year 2021 has been saved as SHP_BBS_T_c_2021_10.shp
Number of data rows for BBS, T_c, 11: 1
Shapefile for BBS: T_c for period 11 of year 2021 has been saved as SHP_BBS_T_c_2021_11.shp
Number of data rows for BBS, T_c, 12: 2
Shapefile for BBS: T_c for period 12 of year 2021 has been saved as SHP_BBS_T_c_2021_12.shp
Number of data rows for BB, DO_mgl, 1: 6
Shapefile for BB: DO_mgl for period 1 of year 2022 has been saved as SHP_BB_DO_mgl_2022_1.shp
Number of data rows for BB, DO_mgl, 2: 6
Shapefile for BB: DO_mgl for period 2 of year 2022 has been saved as SHP_BB_DO_mgl_2022_2.shp
Number of data rows for BB, DO_mgl, 3: 6
Shapefile for BB: DO_mgl for period 3 of year 2022 has been saved as SHP_BB_DO_mgl_2022_3.shp
Number of data rows for BB, DO_mgl, 4: 12
Shapefile for BB: DO_mgl for period 4 of year 2022 has been saved as SHP_BB_DO_mgl_2022_4.shp
Number of data rows for BB, DO_mgl, 5: 5
Shapefile for BB: DO_mgl for period 5 of year 2022 has been saved as SHP_BB_DO_mgl_2022_5.shp
Number of data rows for BB, DO_mgl, 6: 6
Shapefile for BB: DO_mgl for period 6 of year 2022 has been saved as SHP_BB_DO_mgl_2022_6.shp
Number of data rows for BB, DO_mgl, 7: 12
Shapefile for BB: DO_mgl for period 7 of year 2022 has been saved as SHP_BB_DO_mgl_2022_7.shp
Number of data rows for BB, DO_mgl, 8: 6
Shapefile for BB: DO_mgl for period 8 of year 2022 has been saved as SHP_BB_DO_mgl_2022_8.shp
Number of data rows for BB, DO_mgl, 9: 12
Shapefile for BB: DO_mgl for period 9 of year 2022 has been saved as SHP_BB_DO_mgl_2022_9.shp
Number of data rows for BB, DO_mgl, 10: 6
Shapefile for BB: DO_mgl for period 10 of year 2022 has been saved as SHP_BB_DO_mgl_2022_10.shp
Number of data rows for BB, DO_mgl, 11: 6
Shapefile for BB: DO_mgl for period 11 of year 2023 has been saved as SHP_BB_DO_mgl_2023_11.shp
Number of data rows for BB, DO_mgl, 12: 12

Shapefile for BB: DO_mgl for period 12 of year 2023 has been saved as SHP_BB_DO_mgl_2023_12.shp
Number of data rows for BB, Sal_ppt, 1: 6
Shapefile for BB: Sal_ppt for period 1 of year 2022 has been saved as SHP_BB_Sal_ppt_2022_1.shp
Number of data rows for BB, Sal_ppt, 2: 6
Shapefile for BB: Sal_ppt for period 2 of year 2022 has been saved as SHP_BB_Sal_ppt_2022_2.shp
Number of data rows for BB, Sal_ppt, 3: 6
Shapefile for BB: Sal_ppt for period 3 of year 2022 has been saved as SHP_BB_Sal_ppt_2022_3.shp
Number of data rows for BB, Sal_ppt, 4: 12
Shapefile for BB: Sal_ppt for period 4 of year 2022 has been saved as SHP_BB_Sal_ppt_2022_4.shp
Number of data rows for BB, Sal_ppt, 5: 5
Shapefile for BB: Sal_ppt for period 5 of year 2022 has been saved as SHP_BB_Sal_ppt_2022_5.shp
Number of data rows for BB, Sal_ppt, 6: 6
Shapefile for BB: Sal_ppt for period 6 of year 2022 has been saved as SHP_BB_Sal_ppt_2022_6.shp
Number of data rows for BB, Sal_ppt, 7: 12
Shapefile for BB: Sal_ppt for period 7 of year 2022 has been saved as SHP_BB_Sal_ppt_2022_7.shp
Number of data rows for BB, Sal_ppt, 8: 6
Shapefile for BB: Sal_ppt for period 8 of year 2022 has been saved as SHP_BB_Sal_ppt_2022_8.shp
Number of data rows for BB, Sal_ppt, 9: 12
Shapefile for BB: Sal_ppt for period 9 of year 2022 has been saved as SHP_BB_Sal_ppt_2022_9.shp
Number of data rows for BB, Sal_ppt, 10: 6
Shapefile for BB: Sal_ppt for period 10 of year 2022 has been saved as SHP_BB_Sal_ppt_2022_10.shp
Number of data rows for BB, Sal_ppt, 11: 6
Shapefile for BB: Sal_ppt for period 11 of year 2023 has been saved as SHP_BB_Sal_ppt_2023_11.shp
Number of data rows for BB, Sal_ppt, 12: 12
Shapefile for BB: Sal_ppt for period 12 of year 2023 has been saved as SHP_BB_Sal_ppt_2023_12.shp
Number of data rows for BB, Turb_ntu, 1: 6
Shapefile for BB: Turb_ntu for period 1 of year 2022 has been saved as SHP_BB_Turb_ntu_2022_1.shp
Number of data rows for BB, Turb_ntu, 2: 6
Shapefile for BB: Turb_ntu for period 2 of year 2022 has been saved as SHP_BB_Turb_ntu_2022_2.shp
Number of data rows for BB, Turb_ntu, 3: 6
Shapefile for BB: Turb_ntu for period 3 of year 2022 has been saved as SHP_BB_Turb_ntu_2022_3.shp
Number of data rows for BB, Turb_ntu, 4: 12
Shapefile for BB: Turb_ntu for period 4 of year 2022 has been saved as SHP_BB_Turb_ntu_2022_4.shp
Number of data rows for BB, Turb_ntu, 5: 5
Shapefile for BB: Turb_ntu for period 5 of year 2022 has been saved as SHP_BB_Turb_ntu_2022_5.shp
Number of data rows for BB, Turb_ntu, 6: 6
Shapefile for BB: Turb_ntu for period 6 of year 2022 has been saved as SHP_BB_Turb_ntu_2022_6.shp
Number of data rows for BB, Turb_ntu, 7: 12
Shapefile for BB: Turb_ntu for period 7 of year 2022 has been saved as SHP_BB_Turb_ntu_2022_7.shp
Number of data rows for BB, Turb_ntu, 8: 6
Shapefile for BB: Turb_ntu for period 8 of year 2022 has been saved as SHP_BB_Turb_ntu_2022_8.shp
Number of data rows for BB, Turb_ntu, 9: 12
Shapefile for BB: Turb_ntu for period 9 of year 2022 has been saved as SHP_BB_Turb_ntu_2022_9.shp
Number of data rows for BB, Turb_ntu, 10: 6
Shapefile for BB: Turb_ntu for period 10 of year 2022 has been saved as SHP_BB_Turb_ntu_2022_10.shp
Number of data rows for BB, Turb_ntu, 11: 6
Shapefile for BB: Turb_ntu for period 11 of year 2023 has been saved as SHP_BB_Turb_ntu_2023_11.shp
Number of data rows for BB, Turb_ntu, 12: 12
Shapefile for BB: Turb_ntu for period 12 of year 2023 has been saved as SHP_BB_Turb_ntu_2023_12.shp
Number of data rows for BB, T_c, 1: 6
Shapefile for BB: T_c for period 1 of year 2022 has been saved as SHP_BB_T_c_2022_1.shp
Number of data rows for BB, T_c, 2: 6
Shapefile for BB: T_c for period 2 of year 2022 has been saved as SHP_BB_T_c_2022_2.shp
Number of data rows for BB, T_c, 3: 6
Shapefile for BB: T_c for period 3 of year 2022 has been saved as SHP_BB_T_c_2022_3.shp
Number of data rows for BB, T_c, 4: 12
Shapefile for BB: T_c for period 4 of year 2022 has been saved as SHP_BB_T_c_2022_4.shp
Number of data rows for BB, T_c, 5: 5
Shapefile for BB: T_c for period 5 of year 2022 has been saved as SHP_BB_T_c_2022_5.shp
Number of data rows for BB, T_c, 6: 6
Shapefile for BB: T_c for period 6 of year 2022 has been saved as SHP_BB_T_c_2022_6.shp
Number of data rows for BB, T_c, 7: 12
Shapefile for BB: T_c for period 7 of year 2022 has been saved as SHP_BB_T_c_2022_7.shp
Number of data rows for BB, T_c, 8: 6
Shapefile for BB: T_c for period 8 of year 2022 has been saved as SHP_BB_T_c_2022_8.shp
Number of data rows for BB, T_c, 9: 12
Shapefile for BB: T_c for period 9 of year 2022 has been saved as SHP_BB_T_c_2022_9.shp
Number of data rows for BB, T_c, 10: 6
Shapefile for BB: T_c for period 10 of year 2022 has been saved as SHP_BB_T_c_2022_10.shp
Number of data rows for BB, T_c, 11: 6
Shapefile for BB: T_c for period 11 of year 2023 has been saved as SHP_BB_T_c_2023_11.shp
Number of data rows for BB, T_c, 12: 12
Shapefile for BB: T_c for period 12 of year 2023 has been saved as SHP_BB_T_c_2023_12.shp
Number of data rows for CH, DO_mgl, 1: 3
Shapefile for CH: DO_mgl for period 1 of year 2017 has been saved as SHP_CH_DO_mgl_2017_1.shp
Number of data rows for CH, DO_mgl, 2: 3
Shapefile for CH: DO_mgl for period 2 of year 2017 has been saved as SHP_CH_DO_mgl_2017_2.shp
Number of data rows for CH, DO_mgl, 3: 3
Shapefile for CH: DO_mgl for period 3 of year 2017 has been saved as SHP_CH_DO_mgl_2017_3.shp
Number of data rows for CH, DO_mgl, 4: 3
Shapefile for CH: DO_mgl for period 4 of year 2017 has been saved as SHP_CH_DO_mgl_2017_4.shp
Number of data rows for CH, DO_mgl, 5: 3
Shapefile for CH: DO_mgl for period 5 of year 2017 has been saved as SHP_CH_DO_mgl_2017_5.shp
Number of data rows for CH, DO_mgl, 6: 3
Shapefile for CH: DO_mgl for period 6 of year 2017 has been saved as SHP_CH_DO_mgl_2017_6.shp
Number of data rows for CH, DO_mgl, 7: 6
Shapefile for CH: DO_mgl for period 7 of year 2017 has been saved as SHP_CH_DO_mgl_2017_7.shp
Number of data rows for CH, DO_mgl, 8: 3
Shapefile for CH: DO_mgl for period 8 of year 2017 has been saved as SHP_CH_DO_mgl_2017_8.shp
Number of data rows for CH, DO_mgl, 9: 6
Shapefile for CH: DO_mgl for period 9 of year 2017 has been saved as SHP_CH_DO_mgl_2017_9.shp
Number of data rows for CH, DO_mgl, 10: 5
Shapefile for CH: DO_mgl for period 10 of year 2017 has been saved as SHP_CH_DO_mgl_2017_10.shp
Number of data rows for CH, DO_mgl, 11: 3
Shapefile for CH: DO_mgl for period 11 of year 2018 has been saved as SHP_CH_DO_mgl_2018_11.shp
Number of data rows for CH, DO_mgl, 12: 4
Shapefile for CH: DO_mgl for period 12 of year 2018 has been saved as SHP_CH_DO_mgl_2018_12.shp
Number of data rows for CH, Sal_ppt, 1: 3
Shapefile for CH: Sal_ppt for period 1 of year 2017 has been saved as SHP_CH_Sal_ppt_2017_1.shp
Number of data rows for CH, Sal_ppt, 2: 3
Shapefile for CH: Sal_ppt for period 2 of year 2017 has been saved as SHP_CH_Sal_ppt_2017_2.shp
Number of data rows for CH, Sal_ppt, 3: 3
Shapefile for CH: Sal_ppt for period 3 of year 2017 has been saved as SHP_CH_Sal_ppt_2017_3.shp
Number of data rows for CH, Sal_ppt, 4: 3
Shapefile for CH: Sal_ppt for period 4 of year 2017 has been saved as SHP_CH_Sal_ppt_2017_4.shp
Number of data rows for CH, Sal_ppt, 5: 3
Shapefile for CH: Sal_ppt for period 5 of year 2017 has been saved as SHP_CH_Sal_ppt_2017_5.shp
Number of data rows for CH, Sal_ppt, 6: 3
Shapefile for CH: Sal_ppt for period 6 of year 2017 has been saved as SHP_CH_Sal_ppt_2017_6.shp
Number of data rows for CH, Sal_ppt, 7: 6
Shapefile for CH: Sal_ppt for period 7 of year 2017 has been saved as SHP_CH_Sal_ppt_2017_7.shp
Number of data rows for CH, Sal_ppt, 8: 3
Shapefile for CH: Sal_ppt for period 8 of year 2017 has been saved as SHP_CH_Sal_ppt_2017_8.shp
Number of data rows for CH, Sal_ppt, 9: 6
Shapefile for CH: Sal_ppt for period 9 of year 2017 has been saved as SHP_CH_Sal_ppt_2017_9.shp
Number of data rows for CH, Sal_ppt, 10: 6
Shapefile for CH: Sal_ppt for period 10 of year 2017 has been saved as SHP_CH_Sal_ppt_2017_10.shp
Number of data rows for CH, Sal_ppt, 11: 3
Shapefile for CH: Sal_ppt for period 11 of year 2018 has been saved as SHP_CH_Sal_ppt_2018_11.shp
Number of data rows for CH, Sal_ppt, 12: 5
Shapefile for CH: Sal_ppt for period 12 of year 2018 has been saved as SHP_CH_Sal_ppt_2018_12.shp
Number of data rows for CH, Turb_ntu, 1: 3

Shapefile for CH: Turb_ntu for period 1 of year 2017 has been saved as SHP_CH_Turb_ntu_2017_1.shp
Number of data rows for CH, Turb_ntu, 2: 3
Shapefile for CH: Turb_ntu for period 2 of year 2017 has been saved as SHP_CH_Turb_ntu_2017_2.shp
Number of data rows for CH, Turb_ntu, 3: 3
Shapefile for CH: Turb_ntu for period 3 of year 2017 has been saved as SHP_CH_Turb_ntu_2017_3.shp
Number of data rows for CH, Turb_ntu, 4: 3
Shapefile for CH: Turb_ntu for period 4 of year 2017 has been saved as SHP_CH_Turb_ntu_2017_4.shp
Number of data rows for CH, Turb_ntu, 5: 3
Shapefile for CH: Turb_ntu for period 5 of year 2017 has been saved as SHP_CH_Turb_ntu_2017_5.shp
Number of data rows for CH, Turb_ntu, 6: 3
Shapefile for CH: Turb_ntu for period 6 of year 2017 has been saved as SHP_CH_Turb_ntu_2017_6.shp
Number of data rows for CH, Turb_ntu, 7: 5
Shapefile for CH: Turb_ntu for period 7 of year 2017 has been saved as SHP_CH_Turb_ntu_2017_7.shp
Number of data rows for CH, Turb_ntu, 8: 3
Shapefile for CH: Turb_ntu for period 8 of year 2017 has been saved as SHP_CH_Turb_ntu_2017_8.shp
Number of data rows for CH, Turb_ntu, 9: 6
Shapefile for CH: Turb_ntu for period 9 of year 2017 has been saved as SHP_CH_Turb_ntu_2017_9.shp
Number of data rows for CH, Turb_ntu, 10: 5
Shapefile for CH: Turb_ntu for period 10 of year 2017 has been saved as SHP_CH_Turb_ntu_2017_10.shp
Number of data rows for CH, Turb_ntu, 11: 3
Shapefile for CH: Turb_ntu for period 11 of year 2018 has been saved as SHP_CH_Turb_ntu_2018_11.shp
Number of data rows for CH, Turb_ntu, 12: 5
Shapefile for CH: Turb_ntu for period 12 of year 2018 has been saved as SHP_CH_Turb_ntu_2018_12.shp
Number of data rows for CH, T_c, 1: 3
Shapefile for CH: T_c for period 1 of year 2017 has been saved as SHP_CH_T_c_2017_1.shp
Number of data rows for CH, T_c, 2: 3
Shapefile for CH: T_c for period 2 of year 2017 has been saved as SHP_CH_T_c_2017_2.shp
Number of data rows for CH, T_c, 3: 3
Shapefile for CH: T_c for period 3 of year 2017 has been saved as SHP_CH_T_c_2017_3.shp
Number of data rows for CH, T_c, 4: 3
Shapefile for CH: T_c for period 4 of year 2017 has been saved as SHP_CH_T_c_2017_4.shp
Number of data rows for CH, T_c, 5: 3
Shapefile for CH: T_c for period 5 of year 2017 has been saved as SHP_CH_T_c_2017_5.shp
Number of data rows for CH, T_c, 6: 3
Shapefile for CH: T_c for period 6 of year 2017 has been saved as SHP_CH_T_c_2017_6.shp
Number of data rows for CH, T_c, 7: 6
Shapefile for CH: T_c for period 7 of year 2017 has been saved as SHP_CH_T_c_2017_7.shp
Number of data rows for CH, T_c, 8: 3
Shapefile for CH: T_c for period 8 of year 2017 has been saved as SHP_CH_T_c_2017_8.shp
Number of data rows for CH, T_c, 9: 6
Shapefile for CH: T_c for period 9 of year 2017 has been saved as SHP_CH_T_c_2017_9.shp
Number of data rows for CH, T_c, 10: 6
Shapefile for CH: T_c for period 10 of year 2017 has been saved as SHP_CH_T_c_2017_10.shp
Number of data rows for CH, T_c, 11: 3
Shapefile for CH: T_c for period 11 of year 2018 has been saved as SHP_CH_T_c_2018_11.shp
Number of data rows for CH, T_c, 12: 6
Shapefile for CH: T_c for period 12 of year 2018 has been saved as SHP_CH_T_c_2018_12.shp
Number of data rows for EB, DO_mgl, 1: 3
Shapefile for EB: DO_mgl for period 1 of year 2017 has been saved as SHP_EB_DO_mgl_2017_1.shp
Number of data rows for EB, DO_mgl, 2: 3
Shapefile for EB: DO_mgl for period 2 of year 2017 has been saved as SHP_EB_DO_mgl_2017_2.shp
Number of data rows for EB, DO_mgl, 3: 3
Shapefile for EB: DO_mgl for period 3 of year 2017 has been saved as SHP_EB_DO_mgl_2017_3.shp
Number of data rows for EB, DO_mgl, 4: 5
Shapefile for EB: DO_mgl for period 4 of year 2017 has been saved as SHP_EB_DO_mgl_2017_4.shp
Number of data rows for EB, DO_mgl, 5: 3
Shapefile for EB: DO_mgl for period 5 of year 2017 has been saved as SHP_EB_DO_mgl_2017_5.shp
Number of data rows for EB, DO_mgl, 6: 3
Shapefile for EB: DO_mgl for period 6 of year 2017 has been saved as SHP_EB_DO_mgl_2017_6.shp
Number of data rows for EB, DO_mgl, 7: 6
Shapefile for EB: DO_mgl for period 7 of year 2017 has been saved as SHP_EB_DO_mgl_2017_7.shp
Number of data rows for EB, DO_mgl, 8: 3
Shapefile for EB: DO_mgl for period 8 of year 2017 has been saved as SHP_EB_DO_mgl_2017_8.shp
Number of data rows for EB, DO_mgl, 9: 5
Shapefile for EB: DO_mgl for period 9 of year 2017 has been saved as SHP_EB_DO_mgl_2017_9.shp
Number of data rows for EB, DO_mgl, 10: 6
Shapefile for EB: DO_mgl for period 10 of year 2017 has been saved as SHP_EB_DO_mgl_2017_10.shp
Number of data rows for EB, DO_mgl, 11: 3
Shapefile for EB: DO_mgl for period 11 of year 2018 has been saved as SHP_EB_DO_mgl_2018_11.shp
Number of data rows for EB, DO_mgl, 12: 6
Shapefile for EB: DO_mgl for period 12 of year 2018 has been saved as SHP_EB_DO_mgl_2018_12.shp
Number of data rows for EB, Sal_ppt, 1: 3
Shapefile for EB: Sal_ppt for period 1 of year 2017 has been saved as SHP_EB_Sal_ppt_2017_1.shp
Number of data rows for EB, Sal_ppt, 2: 3
Shapefile for EB: Sal_ppt for period 2 of year 2017 has been saved as SHP_EB_Sal_ppt_2017_2.shp
Number of data rows for EB, Sal_ppt, 3: 3
Shapefile for EB: Sal_ppt for period 3 of year 2017 has been saved as SHP_EB_Sal_ppt_2017_3.shp
Number of data rows for EB, Sal_ppt, 4: 6
Shapefile for EB: Sal_ppt for period 4 of year 2017 has been saved as SHP_EB_Sal_ppt_2017_4.shp
Number of data rows for EB, Sal_ppt, 5: 3
Shapefile for EB: Sal_ppt for period 5 of year 2017 has been saved as SHP_EB_Sal_ppt_2017_5.shp
Number of data rows for EB, Sal_ppt, 6: 3
Shapefile for EB: Sal_ppt for period 6 of year 2017 has been saved as SHP_EB_Sal_ppt_2017_6.shp
Number of data rows for EB, Sal_ppt, 7: 6
Shapefile for EB: Sal_ppt for period 7 of year 2017 has been saved as SHP_EB_Sal_ppt_2017_7.shp
Number of data rows for EB, Sal_ppt, 8: 3
Shapefile for EB: Sal_ppt for period 8 of year 2017 has been saved as SHP_EB_Sal_ppt_2017_8.shp
Number of data rows for EB, Sal_ppt, 9: 5
Shapefile for EB: Sal_ppt for period 9 of year 2017 has been saved as SHP_EB_Sal_ppt_2017_9.shp
Number of data rows for EB, Sal_ppt, 10: 6
Shapefile for EB: Sal_ppt for period 10 of year 2017 has been saved as SHP_EB_Sal_ppt_2017_10.shp
Number of data rows for EB, Sal_ppt, 11: 3
Shapefile for EB: Sal_ppt for period 11 of year 2018 has been saved as SHP_EB_Sal_ppt_2018_11.shp
Number of data rows for EB, Sal_ppt, 12: 6
Shapefile for EB: Sal_ppt for period 12 of year 2018 has been saved as SHP_EB_Sal_ppt_2018_12.shp
Number of data rows for EB, Turb_ntu, 1: 3
Shapefile for EB: Turb_ntu for period 1 of year 2017 has been saved as SHP_EB_Turb_ntu_2017_1.shp
Number of data rows for EB, Turb_ntu, 2: 3
Shapefile for EB: Turb_ntu for period 2 of year 2017 has been saved as SHP_EB_Turb_ntu_2017_2.shp
Number of data rows for EB, Turb_ntu, 3: 3
Shapefile for EB: Turb_ntu for period 3 of year 2017 has been saved as SHP_EB_Turb_ntu_2017_3.shp
Number of data rows for EB, Turb_ntu, 4: 5
Shapefile for EB: Turb_ntu for period 4 of year 2017 has been saved as SHP_EB_Turb_ntu_2017_4.shp
Number of data rows for EB, Turb_ntu, 5: 2
Shapefile for EB: Turb_ntu for period 5 of year 2017 has been saved as SHP_EB_Turb_ntu_2017_5.shp
Number of data rows for EB, Turb_ntu, 6: 3
Shapefile for EB: Turb_ntu for period 6 of year 2017 has been saved as SHP_EB_Turb_ntu_2017_6.shp
Number of data rows for EB, Turb_ntu, 7: 6
Shapefile for EB: Turb_ntu for period 7 of year 2017 has been saved as SHP_EB_Turb_ntu_2017_7.shp
Number of data rows for EB, Turb_ntu, 8: 3
Shapefile for EB: Turb_ntu for period 8 of year 2017 has been saved as SHP_EB_Turb_ntu_2017_8.shp
Number of data rows for EB, Turb_ntu, 9: 4
Shapefile for EB: Turb_ntu for period 9 of year 2017 has been saved as SHP_EB_Turb_ntu_2017_9.shp
Number of data rows for EB, Turb_ntu, 10: 6
Shapefile for EB: Turb_ntu for period 10 of year 2017 has been saved as SHP_EB_Turb_ntu_2017_10.shp
Number of data rows for EB, Turb_ntu, 11: 3
Shapefile for EB: Turb_ntu for period 11 of year 2018 has been saved as SHP_EB_Turb_ntu_2018_11.shp
Number of data rows for EB, Turb_ntu, 12: 5
Shapefile for EB: Turb_ntu for period 12 of year 2018 has been saved as SHP_EB_Turb_ntu_2018_12.shp
Number of data rows for EB, T_c, 1: 3

Shapefile for EB: T_c for period 1 of year 2017 has been saved as SHP_EB_T_c_2017_1.shp
Number of data rows for EB, T_c, 2: 3
Shapefile for EB: T_c for period 2 of year 2017 has been saved as SHP_EB_T_c_2017_2.shp
Number of data rows for EB, T_c, 3: 3
Shapefile for EB: T_c for period 3 of year 2017 has been saved as SHP_EB_T_c_2017_3.shp
Number of data rows for EB, T_c, 4: 6
Shapefile for EB: T_c for period 4 of year 2017 has been saved as SHP_EB_T_c_2017_4.shp
Number of data rows for EB, T_c, 5: 3
Shapefile for EB: T_c for period 5 of year 2017 has been saved as SHP_EB_T_c_2017_5.shp
Number of data rows for EB, T_c, 6: 3
Shapefile for EB: T_c for period 6 of year 2017 has been saved as SHP_EB_T_c_2017_6.shp
Number of data rows for EB, T_c, 7: 6
Shapefile for EB: T_c for period 7 of year 2017 has been saved as SHP_EB_T_c_2017_7.shp
Number of data rows for EB, T_c, 8: 3
Shapefile for EB: T_c for period 8 of year 2017 has been saved as SHP_EB_T_c_2017_8.shp
Number of data rows for EB, T_c, 9: 6
Shapefile for EB: T_c for period 9 of year 2017 has been saved as SHP_EB_T_c_2017_9.shp
Number of data rows for EB, T_c, 10: 6
Shapefile for EB: T_c for period 10 of year 2017 has been saved as SHP_EB_T_c_2017_10.shp
Number of data rows for EB, T_c, 11: 3
Shapefile for EB: T_c for period 11 of year 2018 has been saved as SHP_EB_T_c_2018_11.shp
Number of data rows for EB, T_c, 12: 6
Shapefile for EB: T_c for period 12 of year 2018 has been saved as SHP_EB_T_c_2018_12.shp
Number of data rows for GTM, DO_mgl, 1: 4
Shapefile for GTM: DO_mgl for period 1 of year 2016 has been saved as SHP_GTM_DO_mgl_2016_1.shp
Number of data rows for GTM, DO_mgl, 2: 4
Shapefile for GTM: DO_mgl for period 2 of year 2016 has been saved as SHP_GTM_DO_mgl_2016_2.shp
Number of data rows for GTM, DO_mgl, 3: 8
Shapefile for GTM: DO_mgl for period 3 of year 2016 has been saved as SHP_GTM_DO_mgl_2016_3.shp
Number of data rows for GTM, DO_mgl, 4: 4
Shapefile for GTM: DO_mgl for period 4 of year 2016 has been saved as SHP_GTM_DO_mgl_2016_4.shp
Number of data rows for GTM, DO_mgl, 5: 4
Shapefile for GTM: DO_mgl for period 5 of year 2016 has been saved as SHP_GTM_DO_mgl_2016_5.shp
Number of data rows for GTM, DO_mgl, 6: 8
Shapefile for GTM: DO_mgl for period 6 of year 2016 has been saved as SHP_GTM_DO_mgl_2016_6.shp
Number of data rows for GTM, DO_mgl, 7: 4
Shapefile for GTM: DO_mgl for period 7 of year 2016 has been saved as SHP_GTM_DO_mgl_2016_7.shp
Number of data rows for GTM, DO_mgl, 8: 8
Shapefile for GTM: DO_mgl for period 8 of year 2016 has been saved as SHP_GTM_DO_mgl_2016_8.shp
Number of data rows for GTM, DO_mgl, 9: 8
Shapefile for GTM: DO_mgl for period 9 of year 2016 has been saved as SHP_GTM_DO_mgl_2016_9.shp
No valid data found for area: GTM, parameter: DO_mgl, period: 10
Number of data rows for GTM, DO_mgl, 11: 4
Shapefile for GTM: DO_mgl for period 11 of year 2017 has been saved as SHP_GTM_DO_mgl_2017_11.shp
Number of data rows for GTM, DO_mgl, 12: 4
Shapefile for GTM: DO_mgl for period 12 of year 2017 has been saved as SHP_GTM_DO_mgl_2017_12.shp
Number of data rows for GTM, Sal_ppt, 1: 4
Shapefile for GTM: Sal_ppt for period 1 of year 2016 has been saved as SHP_GTM_Sal_ppt_2016_1.shp
Number of data rows for GTM, Sal_ppt, 2: 4
Shapefile for GTM: Sal_ppt for period 2 of year 2016 has been saved as SHP_GTM_Sal_ppt_2016_2.shp
Number of data rows for GTM, Sal_ppt, 3: 8
Shapefile for GTM: Sal_ppt for period 3 of year 2016 has been saved as SHP_GTM_Sal_ppt_2016_3.shp
Number of data rows for GTM, Sal_ppt, 4: 4
Shapefile for GTM: Sal_ppt for period 4 of year 2016 has been saved as SHP_GTM_Sal_ppt_2016_4.shp
Number of data rows for GTM, Sal_ppt, 5: 4
Shapefile for GTM: Sal_ppt for period 5 of year 2016 has been saved as SHP_GTM_Sal_ppt_2016_5.shp
Number of data rows for GTM, Sal_ppt, 6: 8
Shapefile for GTM: Sal_ppt for period 6 of year 2016 has been saved as SHP_GTM_Sal_ppt_2016_6.shp
Number of data rows for GTM, Sal_ppt, 7: 4
Shapefile for GTM: Sal_ppt for period 7 of year 2016 has been saved as SHP_GTM_Sal_ppt_2016_7.shp
Number of data rows for GTM, Sal_ppt, 8: 8
Shapefile for GTM: Sal_ppt for period 8 of year 2016 has been saved as SHP_GTM_Sal_ppt_2016_8.shp
Number of data rows for GTM, Sal_ppt, 9: 8
Shapefile for GTM: Sal_ppt for period 9 of year 2016 has been saved as SHP_GTM_Sal_ppt_2016_9.shp
No valid data found for area: GTM, parameter: Sal_ppt, period: 10
Number of data rows for GTM, Sal_ppt, 11: 3
Shapefile for GTM: Sal_ppt for period 11 of year 2017 has been saved as SHP_GTM_Sal_ppt_2017_11.shp
Number of data rows for GTM, Sal_ppt, 12: 4
Shapefile for GTM: Sal_ppt for period 12 of year 2017 has been saved as SHP_GTM_Sal_ppt_2017_12.shp
Number of data rows for GTM, Turb_ntu, 1: 4
Shapefile for GTM: Turb_ntu for period 1 of year 2016 has been saved as SHP_GTM_Turb_ntu_2016_1.shp
Number of data rows for GTM, Turb_ntu, 2: 4
Shapefile for GTM: Turb_ntu for period 2 of year 2016 has been saved as SHP_GTM_Turb_ntu_2016_2.shp
Number of data rows for GTM, Turb_ntu, 3: 8
Shapefile for GTM: Turb_ntu for period 3 of year 2016 has been saved as SHP_GTM_Turb_ntu_2016_3.shp
Number of data rows for GTM, Turb_ntu, 4: 4
Shapefile for GTM: Turb_ntu for period 4 of year 2016 has been saved as SHP_GTM_Turb_ntu_2016_4.shp
Number of data rows for GTM, Turb_ntu, 5: 4
Shapefile for GTM: Turb_ntu for period 5 of year 2016 has been saved as SHP_GTM_Turb_ntu_2016_5.shp
Number of data rows for GTM, Turb_ntu, 6: 8
Shapefile for GTM: Turb_ntu for period 6 of year 2016 has been saved as SHP_GTM_Turb_ntu_2016_6.shp
Number of data rows for GTM, Turb_ntu, 7: 4
Shapefile for GTM: Turb_ntu for period 7 of year 2016 has been saved as SHP_GTM_Turb_ntu_2016_7.shp
Number of data rows for GTM, Turb_ntu, 8: 8
Shapefile for GTM: Turb_ntu for period 8 of year 2016 has been saved as SHP_GTM_Turb_ntu_2016_8.shp
Number of data rows for GTM, Turb_ntu, 9: 8
Shapefile for GTM: Turb_ntu for period 9 of year 2016 has been saved as SHP_GTM_Turb_ntu_2016_9.shp
No valid data found for area: GTM, parameter: Turb_ntu, period: 10
Number of data rows for GTM, Turb_ntu, 11: 4
Shapefile for GTM: Turb_ntu for period 11 of year 2017 has been saved as SHP_GTM_Turb_ntu_2017_11.shp
Number of data rows for GTM, Turb_ntu, 12: 4
Shapefile for GTM: Turb_ntu for period 12 of year 2017 has been saved as SHP_GTM_Turb_ntu_2017_12.shp
Number of data rows for GTM, T_c, 1: 4
Shapefile for GTM: T_c for period 1 of year 2016 has been saved as SHP_GTM_T_c_2016_1.shp
Number of data rows for GTM, T_c, 2: 4
Shapefile for GTM: T_c for period 2 of year 2016 has been saved as SHP_GTM_T_c_2016_2.shp
Number of data rows for GTM, T_c, 3: 8
Shapefile for GTM: T_c for period 3 of year 2016 has been saved as SHP_GTM_T_c_2016_3.shp
Number of data rows for GTM, T_c, 4: 4
Shapefile for GTM: T_c for period 4 of year 2016 has been saved as SHP_GTM_T_c_2016_4.shp
Number of data rows for GTM, T_c, 5: 4
Shapefile for GTM: T_c for period 5 of year 2016 has been saved as SHP_GTM_T_c_2016_5.shp
Number of data rows for GTM, T_c, 6: 8
Shapefile for GTM: T_c for period 6 of year 2016 has been saved as SHP_GTM_T_c_2016_6.shp
Number of data rows for GTM, T_c, 7: 4
Shapefile for GTM: T_c for period 7 of year 2016 has been saved as SHP_GTM_T_c_2016_7.shp
Number of data rows for GTM, T_c, 8: 8
Shapefile for GTM: T_c for period 8 of year 2016 has been saved as SHP_GTM_T_c_2016_8.shp
Number of data rows for GTM, T_c, 9: 8
Shapefile for GTM: T_c for period 9 of year 2016 has been saved as SHP_GTM_T_c_2016_9.shp
No valid data found for area: GTM, parameter: T_c, period: 10
Number of data rows for GTM, T_c, 11: 4
Shapefile for GTM: T_c for period 11 of year 2017 has been saved as SHP_GTM_T_c_2017_11.shp
Number of data rows for GTM, T_c, 12: 4
Shapefile for GTM: T_c for period 12 of year 2017 has been saved as SHP_GTM_T_c_2017_12.shp

In [65]:
# Empty the shapefile folder
idw_rk_x.delete_all_files(idwCon_folder)

In [66]:
# If the number of data points is less than 3skipping calculate IDW
idw_rk_x.idw_interpolation1(df_month_table, shpCon_folder, idwCon_folder, waterbody_extent, barrier_folder)

Processing file: SHP_BBS_DO_mgl_2021_1.shp
Not enough data for IDW interpolation in SHP_BBS_DO_mgl_2021_1.shp, skipping
Processing file: SHP_BBS_DO_mgl_2021_2.shp
Not enough data for IDW interpolation in SHP_BBS_DO_mgl_2021_2.shp, skipping
Processing file: SHP_BBS_DO_mgl_2021_3.shp
Not enough data for IDW interpolation in SHP_BBS_DO_mgl_2021_3.shp, skipping
Processing file: SHP_BBS_DO_mgl_2021_4.shp
Not enough data for IDW interpolation in SHP_BBS_DO_mgl_2021_4.shp, skipping
Processing file: SHP_BBS_DO_mgl_2021_5.shp
Not enough data for IDW interpolation in SHP_BBS_DO_mgl_2021_5.shp, skipping
Processing file: SHP_BBS_DO_mgl_2021_6.shp
Not enough data for IDW interpolation in SHP_BBS_DO_mgl_2021_6.shp, skipping
Processing file: SHP_BBS_DO_mgl_2021_7.shp
Not enough data for IDW interpolation in SHP_BBS_DO_mgl_2021_7.shp, skipping
Processing file: SHP_BBS_DO_mgl_2021_8.shp
Not enough data for IDW interpolation in SHP_BBS_DO_mgl_2021_8.shp, skipping
Processing file: SHP_BBS_DO_mgl_2021_9.shp
Not enough data for IDW interpolation in SHP_BBS_DO_mgl_2021_9.shp, skipping
Processing file: SHP_BBS_DO_mgl_2021_10.shp
Not enough data for IDW interpolation in SHP_BBS_DO_mgl_2021_10.shp, skipping
Processing file: SHP_BBS_DO_mgl_2021_11.shp
Not enough data for IDW interpolation in SHP_BBS_DO_mgl_2021_11.shp, skipping
Processing file: SHP_BBS_DO_mgl_2021_12.shp
Not enough data for IDW interpolation in SHP_BBS_DO_mgl_2021_12.shp, skipping
Processing file: SHP_BBS_Sal_ppt_2021_1.shp
Not enough data for IDW interpolation in SHP_BBS_Sal_ppt_2021_1.shp, skipping
Processing file: SHP_BBS_Sal_ppt_2021_2.shp
Not enough data for IDW interpolation in SHP_BBS_Sal_ppt_2021_2.shp, skipping
Processing file: SHP_BBS_Sal_ppt_2021_3.shp
Not enough data for IDW interpolation in SHP_BBS_Sal_ppt_2021_3.shp, skipping
Processing file: SHP_BBS_Sal_ppt_2021_4.shp
Not enough data for IDW interpolation in SHP_BBS_Sal_ppt_2021_4.shp, skipping
Processing file: SHP_BBS_Sal_ppt_2021_5.shp
Not enough data for IDW interpolation in SHP_BBS_Sal_ppt_2021_5.shp, skipping
Processing file: SHP_BBS_Sal_ppt_2021_6.shp
Not enough data for IDW interpolation in SHP_BBS_Sal_ppt_2021_6.shp, skipping
Processing file: SHP_BBS_Sal_ppt_2021_7.shp
Not enough data for IDW interpolation in SHP_BBS_Sal_ppt_2021_7.shp, skipping
Processing file: SHP_BBS_Sal_ppt_2021_8.shp
Not enough data for IDW interpolation in SHP_BBS_Sal_ppt_2021_8.shp, skipping
Processing file: SHP_BBS_Sal_ppt_2021_9.shp
Not enough data for IDW interpolation in SHP_BBS_Sal_ppt_2021_9.shp, skipping
Processing file: SHP_BBS_Sal_ppt_2021_10.shp
Not enough data for IDW interpolation in SHP_BBS_Sal_ppt_2021_10.shp, skipping
Processing file: SHP_BBS_Sal_ppt_2021_11.shp
Not enough data for IDW interpolation in SHP_BBS_Sal_ppt_2021_11.shp, skipping
Processing file: SHP_BBS_Sal_ppt_2021_12.shp
Not enough data for IDW interpolation in SHP_BBS_Sal_ppt_2021_12.shp, skipping
Processing file: SHP_BBS_Turb_ntu_2021_1.shp
Not enough data for IDW interpolation in SHP_BBS_Turb_ntu_2021_1.shp, skipping
Processing file: SHP_BBS_Turb_ntu_2021_2.shp
Not enough data for IDW interpolation in SHP_BBS_Turb_ntu_2021_2.shp, skipping
Processing file: SHP_BBS_Turb_ntu_2021_3.shp
Not enough data for IDW interpolation in SHP_BBS_Turb_ntu_2021_3.shp, skipping
Processing file: SHP_BBS_Turb_ntu_2021_4.shp
Not enough data for IDW interpolation in SHP_BBS_Turb_ntu_2021_4.shp, skipping
Processing file: SHP_BBS_Turb_ntu_2021_5.shp
Not enough data for IDW interpolation in SHP_BBS_Turb_ntu_2021_5.shp, skipping
Processing file: SHP_BBS_Turb_ntu_2021_6.shp
Not enough data for IDW interpolation in SHP_BBS_Turb_ntu_2021_6.shp, skipping
Processing file: SHP_BBS_Turb_ntu_2021_7.shp
Not enough data for IDW interpolation in SHP_BBS_Turb_ntu_2021_7.shp, skipping
Processing file: SHP_BBS_Turb_ntu_2021_8.shp
Not enough data for IDW interpolation in SHP_BBS_Turb_ntu_2021_8.shp, skipping
Processing file: SHP_BBS_Turb_ntu_2021_9.shp
Not enough data for IDW interpolation in SHP_BBS_Turb_ntu_2021_9.shp, skipping
Processing file: SHP_BBS_Turb_ntu_2021_10.shp
Not enough data for IDW interpolation in SHP_BBS_Turb_ntu_2021_10.shp, skipping
Processing file: SHP_BBS_Turb_ntu_2021_11.shp
Not enough data for IDW interpolation in SHP_BBS_Turb_ntu_2021_11.shp, skipping
Processing file: SHP_BBS_Turb_ntu_2021_12.shp
Not enough data for IDW interpolation in SHP_BBS_Turb_ntu_2021_12.shp, skipping
Processing file: SHP_BBS_T_c_2021_1.shp
Not enough data for IDW interpolation in SHP_BBS_T_c_2021_1.shp, skipping
Processing file: SHP_BBS_T_c_2021_2.shp
Not enough data for IDW interpolation in SHP_BBS_T_c_2021_2.shp, skipping
Processing file: SHP_BBS_T_c_2021_3.shp
Not enough data for IDW interpolation in SHP_BBS_T_c_2021_3.shp, skipping
Processing file: SHP_BBS_T_c_2021_4.shp
Not enough data for IDW interpolation in SHP_BBS_T_c_2021_4.shp, skipping
Processing file: SHP_BBS_T_c_2021_5.shp
Not enough data for IDW interpolation in SHP_BBS_T_c_2021_5.shp, skipping
Processing file: SHP_BBS_T_c_2021_6.shp
Not enough data for IDW interpolation in SHP_BBS_T_c_2021_6.shp, skipping
Processing file: SHP_BBS_T_c_2021_7.shp
Not enough data for IDW interpolation in SHP_BBS_T_c_2021_7.shp, skipping
Processing file: SHP_BBS_T_c_2021_8.shp
Not enough data for IDW interpolation in SHP_BBS_T_c_2021_8.shp, skipping
Processing file: SHP_BBS_T_c_2021_9.shp
Not enough data for IDW interpolation in SHP_BBS_T_c_2021_9.shp, skipping
Processing file: SHP_BBS_T_c_2021_10.shp
Not enough data for IDW interpolation in SHP_BBS_T_c_2021_10.shp, skipping
Processing file: SHP_BBS_T_c_2021_11.shp
Not enough data for IDW interpolation in SHP_BBS_T_c_2021_11.shp, skipping
Processing file: SHP_BBS_T_c_2021_12.shp
Not enough data for IDW interpolation in SHP_BBS_T_c_2021_12.shp, skipping
Processing file: SHP_BB_DO_mgl_2022_1.shp
File SHP_BB_DO_mgl_2022_1.shp has completed 6 cross-validation iterations.
Processing file: SHP_BB_DO_mgl_2022_2.shp
File SHP_BB_DO_mgl_2022_2.shp has completed 6 cross-validation iterations.
Processing file: SHP_BB_DO_mgl_2022_3.shp
File SHP_BB_DO_mgl_2022_3.shp has completed 6 cross-validation iterations.
Processing file: SHP_BB_DO_mgl_2022_4.shp
File SHP_BB_DO_mgl_2022_4.shp has completed 12 cross-validation iterations.
Processing file: SHP_BB_DO_mgl_2022_5.shp
File SHP_BB_DO_mgl_2022_5.shp has completed 5 cross-validation iterations.
Processing file: SHP_BB_DO_mgl_2022_6.shp
File SHP_BB_DO_mgl_2022_6.shp has completed 6 cross-validation iterations.
Processing file: SHP_BB_DO_mgl_2022_7.shp
File SHP_BB_DO_mgl_2022_7.shp has completed 12 cross-validation iterations.
Processing file: SHP_BB_DO_mgl_2022_8.shp
File SHP_BB_DO_mgl_2022_8.shp has completed 6 cross-validation iterations.
Processing file: SHP_BB_DO_mgl_2022_9.shp

KeyboardInterrupt: